<nav class="navbar navbar-accent bg-secondary text-white" style="padding: 0.25em 0.5em;">
    <a class="nav-link" [routerLink]="['/']" [state]="{tab:0}"> <img src="/assets/img/left-arrow.svg" width="30" height="30" class="d-inline-block align-top" alt="Go back" style="filter: invert(100%)"></a>
  </nav>
<div class="animated animatedFadeInUp fadeInUp" style="background-color: rgb(250, 250, 250); min-height: 100vh;">
  <div class="m-auto py-4" style="width: 80%">
    <h2 class="font-weight-lighter">Add a Student</h2>
  </div>
  <div class="m-auto bg-white shadow" style="width:80%">
    <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Student name</ng-template>
            <div class="p-4 d-inline-block">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                    <input matInput placeholder="" formControlName="firstName" required>
                  </mat-form-field>
              </div>
            <div class="d-inline-block">
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="" formControlName="lastName" required>
              </mat-form-field>
            </div>
            <div>
              <button class="btn btn-sm btn-primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Select Major</ng-template>
            <mat-form-field appearance="outline">
                <mat-label>Major</mat-label>
                <mat-select formControlName="major">
                    <mat-option *ngFor="let major of departmentOptions | keyvalue" [value]="major.key">
                      {{major.key}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            <div>
              <button class="btn btn-sm btn-secondary mr-2" matStepperPrevious>Back</button>
              <button class="btn btn-sm btn-primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Review</ng-template>
            <div class="p-4">
              <h4 class="font-weight-lighter">Name: <span class="font-weight-bold">{{firstFormGroup.get('lastName').value}}</span>, {{firstFormGroup.get('firstName').value}}</h4>
              <h4 class="font-weight-lighter">Major: <span class="font-weight-bold">{{secondFormGroup.get('major').value}}</span></h4>
              <h4 class="font-weight-lighter">Department: {{departmentOptions.get(secondFormGroup.get('major').value)}}</h4>
              <div class="py-4">
                <h5 class="font-weight-lighter">Email: {{generateEmail()}}</h5>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button class="btn btn-sm btn-success" matStepperNext (click)="submit()">Submit</button>
            </div>
          </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <h4>You are now done.</h4>
          <div>
            <button [routerLink]="['/']" mat-button class="btn btn-sm btn-success" >Go back Home</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
  </div>
</div>
