table {
  position: relative;
  width: 100%;
  margin: auto;
}
th {
  font-size: 1.2rem;
  position: sticky;
  background-color: white;
  top: 0;
  &:hover {
    font-weight: bold;
    transition-duration: 0.25s;
    background-color: white;
    cursor: pointer;
  }
}
.mat-row {
  border-left: solid transparent 0px;
  &:hover {
    background-color: rgb(245,245,245);
    border-left: 5px solid rgb(33, 206, 33);
    transition-duration: 0.24s;
    cursor: pointer;
  }
}
